.breadcrumb{
    margin-bottom: 0;
}
.filter__top h1{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #291E1E;
    margin-bottom: 16px;
}
.filter__category{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
}
.filter__category__item{
    border: 0.7px solid #848484;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: block;
    margin-right: 17px;
    margin-bottom: 10px;
}
.filter__category__item:hover{
    color: #CE1D32;
}

.filter-wrap{
    display: flex;
}
.filter{
    background-color: #fff;
    padding: 28px 21px;
    border-radius: 4px;
    flex: 0 0 299px;
    margin-right: 27px;
    margin-bottom: 30px;
}

.catalog-list{
    flex: 1;
    background-color: #fff;
    border-radius: 4px;
    padding: 15px 43px;
    margin-bottom: 30px;
    padding-bottom: 100px;
}

.filter__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    color: #291E1E;
    padding-right: 12px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}


.filter__title:after{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #848484;
    border-bottom: 2px solid #848484;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
}
.filter__content{
    display: none;
}

.filter__row{
    margin-bottom: 15px;
}
.filter__row:last-child{
    margin-bottom: 0;
}
.filter__row.active .filter__content{
    display: block;
}
.filter__row.active .filter__title:after{
    transform: rotate(-135deg);
    margin-top: 4px;
}

.filter__content{
    padding-top: 21px;
    padding-bottom: 21px;
}

.filter__checkboxes label{
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    align-items: center;
}
.filter__checkboxes label div{
    margin: 0;
    transform: translate(0);
}
.filter__checkboxes label input{
    display: none;
}
.filter__checkboxes label input + span{
    border: 1px solid #C4C4C4;
    height: 17px;
    width: 17px;
    border-radius: 5px;
    display: block;
    margin-right: 13px;
    position: relative;
}
.filter__checkboxes label input:checked + span{
    border: 1px solid #000000;
}
.filter__checkboxes label input:checked + span:after{
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    width: 4px;
    height: 7px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    left: 4px;
    transform: rotate(45deg);
}

.noUi-horizontal{
    height: 1px;
}
.noUi-connect{
    background-color: #000;
}
.noUi-target{
    box-shadow: none;
    border: 0;
    background-color: #d1d1d1;
}
.noUi-horizontal .noUi-handle{
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background: #06E9FB;
    cursor: grab;
    top: -8px;
    border: 0;
}
.noUi-handle:after, .noUi-handle:before{
    display: none;
}
.range__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.range__wrap span{
    display: block;
    height: 1px;
    width: 11px;
    background-color: #000;
}
.range__wrap input{
    width: 101px;
    border: 0.7px solid #848484;
    border-radius: 5px;
    height: 29px;
    font-weight: 500;
    font-size: 14px;
    color: #291E1E;
    padding: 0 9px;
}

.catalog-sort{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #232323;
    .checkbox{
        margin-left: 29px;
    }
}
.filter__btns{
    display: flex;
    justify-content: center;
    button{
        background: #FFFFFF;
        border: 1px solid #232323;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 134px;
        height: 41px;
        color: #232323;
        cursor: pointer;
    }
}

.checkbox{
    cursor: pointer;
    display: flex;
    align-items: center;
    input{
        display: none;
    }
}
.sort-pop{
    margin-left: 7px;
    display: flex;
    svg{
        margin-right: 1px;
    }
}
.catalog-sort{
    display: flex;
}

.catalog-list__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.catalog-type{
    display: flex;
    a{
        margin-left: 20px;
    }
    a.active svg{
        fill: #000;
    }
}
.catalog__item{
    display: flex;
    padding-left: 26px;
    border: 1px solid #C4C4C4;
    margin-bottom: 22px;
    .tovar-item__img{
        margin-bottom: 0;
    }
    .tovar-item-promo{
        left: 0;
        top: 15px;
    }
    .tovar-item__status{
        margin: 0;
        transform: translate(0);
        margin-bottom: 25px;
    }
    .tovar-item__action{
        position: initial;
        flex-direction: row;
        align-items: center;
    }
    .tovar-item__action-btn{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right: 47px;
        svg{
            margin-right: 23px;
        }
    }
    .tovar-item__bot{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .tovar-item__price{
        margin-bottom: 19px;
    }
}
.catalog__item__left{
    flex: 0 0 166px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.catalog__item__mid{
    flex: 1;
    padding-left: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
}
.catalog__item__right{
    flex: 0 0 257px;
    border-left: 1px solid #C4C4C4;
    padding-left: 37px;
    padding-top: 30px;
}


@media(max-width: 1449px){
    .catalog__item__mid{
        padding-left: 25px;
    }
    .catalog__item__right{
        padding-left: 25px;
        flex: 0 0 190px;
    }
    .catalog__item .tovar-item__action-btn svg{
        margin-right: 10px;
    }
}
.filter-mob{
    display: none;
}
@media(max-width: 1199px){
    .filter{
        flex: 0 0 260px;
        margin-right: 20px;
    }
    .catalog-list{
        padding: 15px 20px;
        padding-bottom: 50px;
    }
    .catalog__item{
        padding-left: 15px;
    }
    .catalog__item__left{
        flex: 0 0 130px;
    }
    .catalog__item .tovar-item__action-btn{
        margin-right: 30px;
    }
}
.filter__close{
    display: none;
}
@media(max-width: 1023px){
    .filter__close{
        display: block;
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-bottom: 15px;
        margin-top: 10px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(20px);
        svg{
            width: 25px;
        }
    }
    .filter-mob{
        display: block;
        width: 200px;
        height: 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: #232323;
        background: transparent;
        border: 1px solid #232323;
        box-sizing: border-box;
        border-radius: 5px;
        width: 134px;
        height: 41px;
        text-align: center;
        margin-left: auto;
        margin-bottom: 15px;
        
    }
    .filter{
        position: fixed;
        padding: 28px 25px;
        padding-bottom: 40px;
        padding-top: 0;
        overflow: auto;
        left: 0;
        height: 100%;
        top: 0;
        width: 100%;
        max-width: 320px;
        flex: auto;
        background-color: #fff;
        z-index: 5;
        border-right: 1px solid #e5e5e5;
        transform: translateX(-100%);
        transition: 0.3s all;
    }
    .filter__content{
        padding-bottom: 10px;
    }
    .filter.active{
        transform: translateX(0);
    }
    .filter-wrap{
        flex-direction: column;
    }
    .catalog-list{
        flex: auto;
        width: 100%;
    }
}

@media(max-width: 767px){
    .catalog__item__left{
        flex: 0 0 100px;
    }
    .catalog__item .tovar-item__status{
        margin-bottom: 10px;
    }
    .catalog__item .tovar-item__action-btn{
        font-size: 0;
        margin-right: 10px;
    }
    .catalog-list__top{
        flex-direction: column;
        align-items: flex-start;
    }
    .catalog-type {
        width: 100%;
        justify-content: flex-end;
        margin-top: 15px;
    }
    .catalog__item{
        flex-direction: column;
        padding: 20px 20px;
    }
    .catalog__item__right{
        flex: auto;
        width: 100%;
        border-left: 0;
      
        padding: 0px;
    }
    .catalog__item__mid{
        padding: 0;
    }
    .catalog__item .tovar-item__price{
        margin-bottom: 0px;
    }
    .catalog__item .tovar-item__bot{
        flex-direction: row;
        align-items: center;
    }
    .catalog-type{
       display: none;
    }
    .catalog-list__top{
        margin-bottom: 20px;
    }
    .catalog__item .tovar-item__status{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .catalog__item .tovar-item__action{
        position: absolute;
        flex-direction: column;
    }
    .catalog__item{
        position: relative;
    }
    .catalog__item .tovar-item__action-btn svg{
        margin-right: 0;
    }
    .catalog__item .tovar-item__action-btn{
        margin-right: 0;
        margin-bottom: 5px;
    }
    .catalog__item .tovar-item__img{
        margin-bottom: 10px;
    }
    .catalog__item .tovar-item-promo {
        left: -5px;
        top: 15px;
    }
    .catalog-sort .checkbox{
        margin-left: 0px;
        font-size: 14px;
    }
    .catalog-sort{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .catalog-list {
        padding: 15px 15px;
        padding-bottom: 50px;
    }
    .catalog-sort{
        font-size: 0;
    }
}

.catalog__type2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .tovar-item{
        width: calc(100% / 3 - 20px);
        margin: 0 10px;
        margin-bottom: 20px;
    }
}

@media(max-width: 1449px){
    .catalog__type2{
        .tovar-item{
            padding: 20px;
            width: calc(100% / 2 - 20px);
        }
    }
    
}

@media(max-width: 639px){
    .catalog__type2{
        .tovar-item{
            padding: 20px;
            width: calc(100% / 1 - 20px);
        }
    }
}

.catalog__more{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #291E1E;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 52px;
    cursor: pointer;
    transition: 0.1s all;
    margin-bottom: 10px;
    margin-top: -10px;
}
.catalog__more:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.catalog__pager{
    display: flex;
    justify-content: center;
}
.catalog__pager ul {
    display: flex;
    align-items: center;
}
.catalog__pager ul li{
    margin: 0 5px;
}

.catalog__pager ul li a{
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #000000;
}
.catalog__pager ul li  span{
    padding: 10px;
}
.catalog__pager ul li:hover a{
    color: #06E9FB;
}
.catalog__pager ul li.active a{
    color: #F843D6;
}
